.mood-element{
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: flex-start;
    gap:1rem;
    padding: 4rem;
}
.mood-element button{
    padding: 0.7rem 1rem;
    border-radius: 0.7rem;
    border: none;
    background-color: #2c2c2c;
    color: #fff;
    cursor: pointer;
    
}
.mood-element button:hover{
    background-color: #63ff6ee7;
    color: #ff0000;
}

.user-video-feed{
    width: 20rem;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 1rem;
}